local.properties
.DS_Store
*.iml
*.ipr
*.iws
.gradle
/build
gradle/build
tests/*/build
tests/api/*/build
tests/applibtest/*/build
tests/assets/*/build
tests/flavorlib/*/build
tests/flavorlibWithFailedTests/*/build
tests/libsTest/*/build
tests/multiproject/*/build
tests/renderscriptInLib/*/build
tests/repo/*/build
tests/tictactoe/*/build
/repo
/out
